<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2018-01-26 14:55)</string>
	<string>Mlocal build-2018-05-20 06:07:41 +0000</string>
	<string>G-r310-3B81</string>
</array>
</plist>
